 #video-background {
 	/*height: 100%;*/
 	position: absolute;
 	width: 900px;
 	z-index: -100;
 	text-align:center;
 	top: 0;
 	/*left: 0;*/
 	bottom: 33px;
 	/*right: 0;*/
 	/*background:url(../img/pw_maze_black_2X.png) left top repeat;*/
 	/*padding:280px 0;*/
 }
 #video-bg {
 	position: fixed;
 	top: -30px; right: 0; bottom: 0; left: 0;
 	overflow: hidden;
 	z-index: -100;
 }
 #video-bg > video {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;


 	-webkit-filter: blur(1px);
 	-moz-filter: blur(1px);
 	-o-filter: blur(1px);
 	-ms-filter: blur(1px);
 	filter: blur(1px);

 }
 /* 1. No object-fit support: */
 @media (min-aspect-ratio: 16/9) {
 	#video-bg > video { height: 300%; top: -100%; }
 }
 @media (max-aspect-ratio: 16/9) {
 	#video-bg > video { width: 300%; left: -100%; }
 }
 /* 2. If supporting object-fit, overriding (1): */
 @supports (object-fit: cover) {
 	#video-bg > video {
 		top: 0; left: 0;
 		width: 100%; height: 100%;
 		object-fit: cover;
 	}
 }
 .what_catch{
 	margin-bottom: 100px;
 }

 .bg_layers {
 	background-color: rgba(2, 19, 39, 0.5);
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 150%;
  /*      opacity: 0.5;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB5JREFUeNpiZGBg+A8EjECagQnK+A/mMEAAWAYgwADf9ggBN+tpvAAAAABJRU5ErkJggg==');
    */




/*    background: rgba(0, 0, 0, 0) url("data:image/gif;base64,R0lGODlhBAAEAIABAGVrcP///yH5BAEAAAEALAAAAAAEAAQAAAIFBBKGy1EAOw==") repeat scroll 0 0;
    border-color: #000;
    border-style: solid;
    border-width: 12px;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 600ms ease 0s;
    z-index: 30;*/


}




.transparent_tittle { 
	background-color:#fff; 
	overflow:hidden;
	display:inline-block; 
	font-weight:bold;
	font-family:arial;
	color:transparent;
}
.banderin{
	width: 40%;
	margin-top: -2px;
	opacity: 0.9;
}
/*
img.banderin {
    opacity: 0.4;
}
img.banderin:hover {
    opacity: 1; // no point in going higher than 1 here
}
*/

.num_head{
	color: #fff;
	font-family: "ArialBlack";
	font-size: 16px;
	font-weight: 400;
	margin: 10px 10px 0 10px;
	vertical-align:middle;
}
.cont_icon_head{
	margin: 10px 10px 0 10px;
	vertical-align:middle;
} 
.cont_icon_head img{
	width: 25px;
	margin: 9px 0px;
}


.title_home{
	/*margin-top: 180px !important;*/
	font-family: "ArialBlack";
	color:white ; 
	/*font-size: 60px ;*/
	font-weight: bold ;
}
.sub_title_home{
	font-family: "ArialBold";
	letter-spacing: 2px;
	color:white ; 
	font-size: 20px ;
	font-weight: bold ;
	padding:5px 0 20px;
}


.what_catch{

	font-family: "ArialBlack";
	/*font-family: "ArialBold";*/
}
#nav_boats{
	background-image: url("../img/bs/1fondo2sm.jpg");
	background-size: cover;
}
.head_catch{
	background-color: #1555D1;
	/*background-color: black;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	width: 100%;
	/*height: 45px;*/
	text-align: center;

}
.full_container{
	width: 100%;
	margin: 0;
	padding: 0;
}
.title_catch{
	font-size: 30px;
	color:#021227;
	font-family: "ArialBlack";
	padding: 20px 0 20px 0;
}
.span_title_catch{
	font-size: 30px;
	color:white;
	font-family: "ArialBlack";
}
.fish_box{
	width:20%;
	display:inline-block;
}
.normal_img_grp img{
	/*width: 300px;*/
}
.small_img_grp img{
	/*width: 300px;*/
}
.banner_fishing{
	height: 100%;
}
#nav_charters{
	background-image: url("../img/bs/24.jpg");
	background-size: cover;
}
.blue_mess{
	color: white;
	font-size: 20px;
	line-height: 40px; 
	width: 100%;
	/*margin: 20px;*/
	margin-bottom: 60px;
	padding: 20px 30px 20px 30px;
	background-color: #1555D1;
}
.border_mess{
	border-right: 4px solid;
	border-left: 4px solid;
	
	width: 100%;
	padding: 0 20px 0 20px;
	/*padding: 20px 30px 20px 30px;*/
	/*background-color: #1555D1;*/
}
.line_left{
	border-left: 4px solid;
	padding-left: 10px;
}
.line_right{
	border-right: 4px solid;
	padding-right: 6px;
}
.smaller_cirlce{
	padding:0 20px 0 20px;
}

.serv_tit{
	margin-bottom: 10px;
}

.capt_btn_cont {
	position:relative;
	/*height:281px;*/
	width:100%;
	margin:0 auto;
	cursor: pointer;
	height: 250px;
	max-width: 1200px;
}

.capt_btn_cont img {
	position:absolute;
	left:0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.capt_btn_cont img.top:hover {
	opacity:0;
}

.desc_char{
	color: white ;
	font-size:12px ;
	text-align: left; 
	display:inline-block;
	padding: 0 5px 0 5px;
}
.desc_char li{list-style-type: none}
.desc_char li:before{content: "- "}
.title_char{
	font-weight: bold;
	font-size: 15px;
	display:inline-block;
}
.span_blue{
	color: #1555D1 ;
	display:inline-block;
}
.title_gallery{
	font-family: "ArialBlack";
	font-size: 30px;
	text-align: center;
	color: white;
	margin: 30px 0 0 0;
}
.subtitle_gallery{
	font-family: "ArialBold";
	font-size: 24px;
	text-align: center;
	color: white;
	/*margin: 5px 0 0 0;*/
}
.drone_icon{
	margin: 20px 0 20px 0;
	width:130px;
}

.general_descr_ini_1{
	font-family: "ArialBold";
	font-size: 16px;
	text-align: left;
	line-height: 30px;
	color: white;
	/*margin: 10px 0 20px 0;*/
	padding:0 50px 0 50px;
}
.general_descr_ini{
	font-family: "ArialBold";
	font-size: 16px;
	text-align: justify;
	line-height: 30px;
	color: white;
	/*margin: 10px 0 20px 0;*/
	padding:0 50px 0 50px;
}
.general_descr{
	font-family: "ArialBold";
	font-size: 16px;
	text-align: justify;
	line-height: 30px;
	color: white;
	/*margin: 10px 0 20px 0;*/
	padding:0 50px 0 50px;
}
.cup_icon{
	margin: 25px 0 25px 0;
	width:55px;
}
.title_tourn{
	font-family: "ArialBold";
	font-size: 18px;
	text-align: left;
	color: #1555D1;
	margin: 10px 0 5px 50px;
}
.title_vacation{
	font-size: 30px;
	color:#021227;
	font-family: "ArialBlack";
	padding: 40px 0 40px 0;
}
.span_title_vacation{
	font-size: 50px;
	color:white;
	font-family: "ArialBlack";
	/*margin: 40px 0 40px 0;*/
}

.indented_div{
	margin-left: 0.5em;
    text-indent: -0.7em;
}





.main_comm{
	font-size: 30px;
	color:#1555D1;
	font-family: "ArialBold";
	margin-top: 50px;
	padding: 40px 60px 40px 60px;
}
.vacation_img{
	
	/*margin-top: 50px;*/
	text-align: left;
	/*padding: 0 80px 0 80px;*/
}


.price_center{
	text-align: center;
	font-size: 30px;
	color:#1555D1;
	font-family: "ArialBold";

}
.general_descr p{
	color: gray;
}
#nav_about{
	background-image: url("../img/bs/24.jpg");
	background-size: cover;
}
.general_descr_left{
	font-family: "ArialBold";
	font-size: 14px;
	text-align: justify;
	line-height: 20px;
	color: white;
	/*margin: 10px 0 20px 0;*/
	padding:0 10px 0 0px;
}
.left_descr {
	text-align: right;
}
.left_descr li{list-style-type: none}
.left_descr li:before{content: "- "}
.google_maps {
	width: 100%;
	padding: 50px 100px 50px 100px;
}
#nav_about2{
	background-image: url("../img/bs/1fondo2sm.jpg");
	background-size: cover;
}
.footer_sea{
	margin: 40px 0 20px 0;
	text-align: center;
}

.last_number{
	/*font-size: 70px;*/
	color:white;
	font-family: "ArialBlack";
	padding: 20px;
	/*margin: 40px 0 40px 0;*/
}
.end{
	width: 100%;
	height: 40px;
	margin-top: 50px;
	background-color: #1555D1;
}

.btn{
	white-space:normal !important;
	max-width:1600px;
}
.main_comm_popup{
	font-size: 30px;
	color:#1555D1;
	font-family: "ArialBold";
	/*margin-top: 50px;*/
	padding: 0px 60px 40px 60px;
}

.back_popup {
	cursor: pointer;
	width: 60px;
	margin: 20px 20px 20px 20px;
}


.blue_title_popup{
	font-size: 30px;
	color:#1555D1;
	font-family: "ArialBlack";
	padding: 20px 0 10px 0;
}
.white_title_popup{
	font-size: 30px;
	color:#ffffff;
	font-family: "ArialBold";
	padding: 0px 0 20px 0;
}
.decr_popup{
	font-family: "ArialBold";
	font-size: 18px;
	text-align: justify;
	line-height: 50px;
	color: white;
	/*margin: 10px 0 20px 0;*/
	/*padding:0 50px 0 50px;*/
}
.subtitle_popup_blue{
	font-size: 22px;
	color:#1555D1;
	font-family: "ArialBold";
	padding: 20px 0 10px 0;
}
.cap_title_popup{
	font-size: 36px;
	color:#1555D1;
	font-family: "ArialBold";
	padding: 20px 0 10px 0;
}
.cap_decr_popup{
	font-family: "ArialBold";
	font-size: 14px;
	text-align: justify;
	line-height: 40px;
	color: white;
}